<h2>Organization Page</h2>

{{!-- #each is a built in helper we use to iterate & bind data from a payload/json object --}}
{{#each model as |member|}}
    <img src={{member.avatar_url}} alt={{member.login}} width="100">
{{/each}}

{{outlet}}
